
<!-- <div>{{childtitle}}</div>

<div>{{name}}</div> -->



<!-- child to parents  -->
<!-- <button (click)="passtoparent()">send data </button>  -->
<!-- <input type="text" (input)="updatemessage($event)">

<div>input:{{message}}</div>  -->
<!-- 
========== -->


<!-- {{mydata}} 
<input type="text" (input)="updatesdata($event)"> -->
<p>This is a header</p>

<ul>
    <li>
        <a routerLink="/about"> about</a>
    </li>
    <li>
        <a routerLink="/contact"> contact</a>
    </li>
</ul>





